.inputSearchContainer{
    width: 100%;
}

.filterInputContainer{
    width: 70%;
}

.searchInput{
    width:100%;
}

.searchInputDiv{
    width: 45%; 
}

.toggleContainer:hover .dropdown-menu {
    display: block;
}

.linkTxt{
    font-weight: 600;
}

.linkTxt:hover{
    color: #0D6EFD;
}

.productCard{
    width: 23% ;
    height: 50%;
}

.productDescription{    
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
    overflow: hidden;
}

.addToCartBtn{
    background-color: #f8d340;
}

.addToCartBtn:hover{
    background-color: #facc16;
}

.buyNowtBtn{
    background-color: #fcb244;
}

.buyNowtBtn:hover{
    background-color: #f3960b;
}

.proceedBtn{
    background-color:#f1ce42;
    border :none;
}

.proceedBtn:hover{
    background-color:#FFCE12;
    border:none;
}

.homeImgContainer{
    width: 70%;
}

.emptyCartImg{
    max-width: 300px;
}
.cartProductImg , .homeCartImg, .productImg{
    object-fit: contain;
}

/* footer */

footer{
    background-color:#172337;	
    color:#fff;	 
    font-size:12px;
}

.f-top{
    margin:0 0 0 35px;
    padding:40px 0 0;
}

.f-bottom{
    margin:30px 0 0;
    padding:25px 0;	
    border-top:1px solid #878787;	
    font-size:14px;
}

.f-heading{
    color: #878787;
    font-weight: 400;
    margin-bottom: 8px;
}

footer li a{
    color:#fff;
    text-decoration:none;	
}

footer li a:hover{
    color:#fff;
    text-decoration:underline;	
}

footer li{
    list-style-type: none;
    line-height: 1.4;
    margin-top:8px;
}

.f-top-left{
    border-right:1px solid #878787;
}	

.f-top-right{
    padding:0 25px;
}

.socialMediaIcons:hover{
    cursor:pointer;
}

.f-bottom-quick-links{
    padding-left:30px;
}

/*  */


